<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>liga</key>
  <array>
    <string>uni0086</string>
    <string>uni0087</string>
    <string>uni0088</string>
    <string>uni0089</string>
    <string>uni008A</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
  </array>
  <key>liga10</key>
  <array>
    <string>uni009B</string>
    <string>uni009C</string>
    <string>uni009D</string>
    <string>uni009E</string>
    <string>uni009F</string>
    <string>Oacute</string>
    <string>Oacute</string>
    <string>Oacute</string>
    <string>Oacute</string>
    <string>Oacute</string>
    <string>uni009F</string>
  </array>
  <key>liga11</key>
  <array>
    <string>Adieresis</string>
    <string>Eacute</string>
    <string>degree</string>
    <string>sterling</string>
    <string>section</string>
    <string>paragraph</string>
    <string>dieresis</string>
    <string>logicalnot</string>
    <string>guillemotleft</string>
    <string>Aacute</string>
    <string>Iacute</string>
    <string>Aring</string>
    <string>Ccedilla</string>
    <string>cent</string>
    <string>acute</string>
    <string>AE</string>
    <string>plusminus</string>
    <string>yen</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>exclamdown</string>
    <string>Agrave</string>
    <string>Atilde</string>
    <string>periodcentered</string>
    <string>Acircumflex</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Icircumflex</string>
    <string>Igrave</string>
    <string>macron</string>
    <string>cedilla</string>
    <string>currency</string>
    <string>brokenbar</string>
    <string>uni00AD</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>onesuperior</string>
    <string>onequarter</string>
    <string>threequarters</string>
    <string>uni0E09</string>
    <string>uni0E0E</string>
    <string>uni00B5</string>
  </array>
  <key>liga12</key>
  <array>
    <string>Odieresis</string>
    <string>iacute</string>
    <string>Otilde</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Ntilde</string>
    <string>ccedilla</string>
    <string>icircumflex</string>
    <string>multiply</string>
  </array>
  <key>liga2</key>
  <array>
    <string>uni009B</string>
    <string>uni009C</string>
    <string>uni009D</string>
    <string>uni009E</string>
    <string>uni009F</string>
    <string>saraamleft</string>
    <string>uni0081</string>
    <string>uni0082</string>
    <string>uni0083</string>
    <string>uni0084</string>
    <string>uni0086</string>
    <string>uni0087</string>
    <string>uni0088</string>
    <string>uni0089</string>
    <string>uni008A</string>
  </array>
  <key>liga3</key>
  <array>
    <string>uni0086</string>
    <string>uni0087</string>
    <string>uni0088</string>
    <string>uni0089</string>
    <string>uni008A</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
  </array>
  <key>liga4</key>
  <array>
    <string>uni009B</string>
    <string>uni009C</string>
    <string>uni009D</string>
    <string>uni009E</string>
    <string>uni009F</string>
    <string>uni009B</string>
    <string>uni009C</string>
    <string>uni009D</string>
    <string>uni009E</string>
    <string>uni009F</string>
  </array>
  <key>liga5</key>
  <array>
    <string>uni0086</string>
    <string>uni0087</string>
    <string>uni0088</string>
    <string>uni0089</string>
    <string>uni008A</string>
    <string>uni008B</string>
    <string>uni008C</string>
    <string>uni008D</string>
    <string>uni008E</string>
    <string>uni008F</string>
    <string>Igrave</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
  </array>
  <key>liga6</key>
  <array>
    <string>uni009B</string>
    <string>uni009C</string>
    <string>uni009D</string>
    <string>uni009E</string>
    <string>uni009F</string>
    <string>uni0086</string>
    <string>uni0087</string>
    <string>uni0088</string>
    <string>uni0089</string>
    <string>uni008A</string>
    <string>lochula.short</string>
    <string>uni0086</string>
    <string>uni0087</string>
    <string>uni0088</string>
    <string>uni0089</string>
    <string>uni008A</string>
    <string>uni0099</string>
    <string>yamakkanleftthai</string>
  </array>
  <key>liga7</key>
  <array>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
  </array>
  <key>liga8</key>
  <array>
    <string>egrave</string>
    <string>uni0081</string>
    <string>uni0082</string>
    <string>uni0083</string>
    <string>uni0084</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
  </array>
  <key>liga9</key>
  <array>
    <string>uni0086</string>
    <string>uni0087</string>
    <string>uni0088</string>
    <string>uni0089</string>
    <string>uni008A</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>saraamleft</string>
  </array>
</dict>
</plist>
